h1, h2 {
  font-family: "Poppins", sans-serif;
  font-size: 800;

}

body, p {
  font-family: "mulish", sans-serif;
}
.contact-hero {
  text-align: center;
  padding: 3rem 1rem;
  background: linear-gradient(
                rgba(0, 0, 0, 0.9), 
                rgba(0, 0, 0, 0.9)
              ), url("/image/navbg.png") center/cover no-repeat;
  color: white;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-subtitle{
font-size: 1.2rem;
  opacity: 0.9;
  line-height: 1.6;
}
.organizers {
  text-align: center;
  padding: 4rem 1rem;
}

.organizers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}

.organizer-card {
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.organizer-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.map-container {
  border-radius: 15px;
}

/* ========== Responsive Styles ========== */

/* Tablets (<= 992px) */
@media (max-width: 992px) {
  .organizers-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}

}

/* Mobile (<= 768px) */
@media (max-width: 768px) {

  
}
/* Small Mobile (<= 480px) */
@media (max-width: 480px) {
  
}
