@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hero {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("https://i.postimg.cc/d1CBr68s/unsplash-OONm-WOXw-PPE.png") center/cover no-repeat;
  filter: brightness(50%);   
  z-index: 0;
}

.hero-overlay {
  position: relative;
  z-index: 1; 
}

.hero-overlay h1 {
  font-size: 48px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #fff; 
}

.hero-overlay p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #f5f5f5; 
}
.explore-btn {
  padding: 12px 28px;
  background: rgba(252, 252, 252, 0.1); 
  color: #fff;
  border: 2px solid #fff;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 400;
  backdrop-filter: blur(4px); 
  transition: all 0.3s ease;
    font-family: "Mulish", sans-serif;
}

.explore-btn:hover {
  color: white;
}
.filter-section {
  text-align: center;
  margin: 30px 0;
}
.filter-section button {
  margin: 5px;
  padding: 8px 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #ddd;
}
.filter-section .active {
  background: #0077cc;
  color: white;
}
