
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  /* font-family: "Poppins", sans-serif;
    font-family: "Mulish", sans-serif; */
*{
 padding: none;
 margin: none;
 box-sizing: border-box;  
 transition: 1s;
} 
h1, h2,h3,h4,h5,h6{
  font-family: "Poppins", sans-serif
}   

body{
  padding: none;
  margin: none;
  box-sizing: border-box;
  overflow-x: hidden !important;
}
.section-1{
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../src/assets/images/AboutImage.png);
  background-color: rgba(0, 0, 0, 0.651);
  background-blend-mode: darken;
}
.about-us{
  color: rgba(255, 255, 255, 0.263);
  font-family: "Mulish",sans-serif;
  font-weight: 900;
  font-size: 4rem;
  padding-left: 50px;
  padding-top: 200px;
}
.about-us-heading{
  color: white;
  font-family: "Mulish",sans-serif;
  font-weight: 900;
  font-size: 4rem;
  padding-left: 100px;

}
.second-heading{
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  font-weight: 900;
  color: white;
}
.second-heading p{
  font-family:"Mulish",sans-serif;
  font-size: 1.5rem ;
  padding-right: 40px;
 
}
.second-heading .About-Us{
   color: #f05537;
}
.section-2{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.about-campus-connect{
  padding-left: 50px;
  padding-bottom: 50px;
  color: #f05537;
  font-family:"Mulish",sans-serif ;
  font-size: 1.5rem;
  font-weight: 700;
}
.mini-head{
  font-family: "Mulish",sans-serif;
  padding-left: 50px;
  width: 75%;
}
.mini-head-2{
  font-family: "Mulish",sans-serif;
  padding-left: 50px;
   width: 75%;
}
.icons{
  padding-left: 50px;
  font-family: "Mulish",sans-serif;
  font-size: 1rem;
  padding-bottom: 10px;
}
.icons img{
  width: 5%;
  padding: 2px;
}
.icons span{
  width: 5%;
  font-weight: bolder;
}
.second{
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.second div img{
  width: 300px;
  padding: 10px;
  height: 200px;
  border-radius: 20px;
}
.second  img{
  width: 300px;
  padding: 10px;
  height: auto;
   border-radius: 20px;
}
.section-3{
  padding: 5px;
}
.Speaker{
  font-family: "Mulish",sans-serif;
  color:rgba(0, 0, 0, 0.42);
  font-size: 2rem;
  margin-left: 50px;
}
.h6{
  text-align: center;
  color:#f05537;;
  font-family: "Mulish",sans-serif;
  font-size: 1rem;
}
.h2{
   text-align: center;
  color:black;
  font-family: "Mulish",sans-serif;
  font-size: 2rem;
}
.talented-group{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.talented{
 background-color:  #f05537;
 width: 300px;
 border-radius: 10px;
 text-align: center;
 justify-content: center;
 border-radius: 10px;
 box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.432);
}
.talented:hover{
  transform: scale(1.05);
}

.talented img{
  height: 300px;
  width: 300px;;
  border-radius:10px; 
}
.talented h4{
  font-family:  "Mulish",sans-serif;;
  color: white;
  padding: 10px;
}
.talented span{
  font-family:  "Mulish",sans-serif;;
  color: white; 
  padding: 5px;
}
.testimonial{
  font-family: "Mulish",sans-serif;
  color:rgba(0, 0, 0, 0.349);
  font-size: 2rem;
  margin-left: 0px;
  font-weight: 500;
}
.section-4{
  margin-top: 100px;
  background-color: rgba(198, 198, 198, 0.285);
  display: flex;
  flex-direction: row;
  padding:10px;
}
.left-side{
  color:black;
  font-family: "Mulish",sans-serif;
  margin-left: 40px;
  border-right: 3px solid rgba(255, 140, 140, 0.612);
  width: 45%;
}
.left-side h3{
  color: #f05537;
  font-size: 2rem;
}
.left-side h1{
  font-size: 2rem;
  font-weight: 700;
}
.right-side{
  display: flex;
  flex-direction: row;
  background-color: white;
  border-top: 3px solid  rgba(255, 140, 140, 0.612);
}
.right-side img{
  height: 300px;
  width: 300px;
  margin-top: 50px;
  margin-left: 10px;
}
.right-side div{
  width: 330px;
  padding-top: 50px;
  margin-left: 10px;
}
.right-side div .asterik{
  font-size: 6rem;
  font-weight: 900;
  font-family: "Mulish",sans-serif;
  margin-top: 0px;
  text-align: center;
  color: rgba(94, 94, 94, 0.685);
  margin-bottom:-60px;
}
.right-side div .head{
  text-align: center;
  font-family: "Mulish",sans-serif;
  font-weight: 800;
  font-size: 2rem;
}
.right-side div .neck{
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.right-side div .chest{
   text-align: center;
  font-family: "Mulish",sans-serif;
  font-weight: 700;
  font-size: 1rem;

}
.section-5{
  padding:10px;
  display:flex;
  flex-direction:row;
}
.section-5 img{
  width:400px;
  padding:10px;
}
.section-5 div{
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 100px;
  width: 50%;
}

.scroll{
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: background-color 0.3s ease-in-out !important;
}
.logo{
  width: 120px;
}
.navbar{
   font-family: "Mulish", sans-serif;
   width: 100% !important;
}
.navbar-toggler {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important; 
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;

}
.navbar-toggler .toggler-line {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px 0;
  background-color: #ffffff;
  border-radius: 2px;
}
.navbar ul li{

}
.navbar li a{
  list-style-type: none !important;
 font-family: "Mulish", sans-serif ;
 font-size: 16px !important;
 color: #ffffff !important;
}
.navbar li a:hover{
 color: #ffffff !important;
 
}
.navbar li a.active{
 color: #F05537 !important;
}

.navbar .registerBtn{
    background-color: #F05537 !important;
    color: #ffffff;
    border: none ;
    padding: 10px 28px;
    font-family: "Mulish", sans-serif ;
    font-weight: bold;

}
.navbar .registerBtn:hover{
  border: #F05537 solid 1px;
  color: #F05537;
  background: rgba(158, 164, 165, 0.2) !important; 
  backdrop-filter: blur(10px);          
  -webkit-backdrop-filter: blur(10px);   
}
.navbar-collapse{
  background: none; 

}
.form-control {
  border: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.footer{
  font-family: "Mulish", sans-serif ;
}

@media (min-width: 320px) and (max-width: 480px)  {

.navbar-collapse{
  background: rgba(158, 164, 165, 0.2); 
  backdrop-filter: blur(10px);          
  -webkit-backdrop-filter: blur(10px);   
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 12px;
padding: 20px 30px !important;
border-radius: 50px;
}

}
@media (min-width: 768px) and (max-width: 991px) {

  .navbar-collapse{
  background: rgba(158, 164, 165, 0.2); 
  backdrop-filter: blur(10px);          
  -webkit-backdrop-filter: blur(10px);   
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 12px;
padding: 20px 30px !important;
border-radius: 50px;
  }

}
@media (min-width: 320px) and (max-width: 480px) {
  
.section-1{
        width: 910px;
        height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(/src/assets/images/AboutImage.png);
        background-color: rgba(0, 0, 0, 0.651);
        background-blend-mode: darken;
}
.about-us{
  color: rgba(255, 255, 255, 0.263);
  font-family: "Mulish",sans-serif;
  font-weight: 900;
  font-size: 4rem;
  padding-left: 50px;
  padding-top: 200px;
}
.about-us-heading{
  color: white;
  font-family: "Mulish",sans-serif;
  font-weight: 900;
  font-size: 4rem;
  padding-left: 100px;

}
.second-heading{
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  font-weight: 900;
  color: white;
}
.second-heading p{
  font-family:"Mulish",sans-serif;
  font-size: 1.5rem ;
  padding-right: 40px;
 
}
.second-heading .About-Us{
   color: #f05537;
}
.section-2{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
}
.about-campus-connect{
  padding-left: 50px;
  padding-bottom: 50px;
  color: #f05537;
  font-family:"Mulish",sans-serif ;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 280px;
  width:400px;
}
.mini-head{
  font-family: "Mulish",sans-serif;
  padding-left: 50px;
  width: 900px;
  text-align: center;
}
.mini-head-2{
  font-family: "Mulish",sans-serif;
  padding-left: 50px;
   width: 900px;
   padding-top: 30px;
   text-align: center;
}
.icons{
  padding-left: 50px;
  font-family: "Mulish",sans-serif;
  font-size: 1rem;
  padding-bottom: 10px;
  width: 900px;
  text-align: center;
}
.icons img{
  width: 5%;
  padding: 2px;
}
.icons span{
  width: 5%;
  font-weight: bolder;
}
.button{
  background-color: #f05537;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Mulish",sans-serif ;
  font-weight: 800;
  font-size: 15px;
  margin-left: 150px;
  margin-left: 400px;
  width: 150px;
}
.button:hover{
  color: tomato;
  background-color: transparent;
  border: 1.5px solid #f05537;
}
.second{
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 150px;
}
.second div img{
  width: 300px;
  padding: 10px;
  height: 200px;
  border-radius: 20px;
}
.second  img{
  width: 300px;
  padding: 10px;
  height: auto;
   border-radius: 20px;
}
.section-3{
  padding: 5px;
}
.Speaker{
  font-family: "Mulish",sans-serif;
  color:rgba(0, 0, 0, 0.42);
  font-size: 2rem;
  margin-left: 50px;
}
.h6{
  text-align: center;
  color:#f05537;;
  font-family: "Mulish",sans-serif;
  font-size: 1rem;
  width: 900px;
}
.h2{
   text-align: center;
  color:black;
  font-family: "Mulish",sans-serif;
  font-size: 2rem;
  width:900px;
}
.talented-group{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.talented{
 background-color:  #f05537;
 width: 200px;
 margin: 0px 50px;
 border-radius: 10px;
 text-align: center;
 justify-content: center;
 border-radius: 10px;
 box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.432);
}
.talented:hover{
  transform: scale(1.05);
}

.talented img{
  height: 200px;
  width: 200px;;
  border-radius:10px; 
}
.talented h4{
  font-family:  "Mulish",sans-serif;;
  color: white;
  padding: 10px;
}
.talented span{
  font-family:  "Mulish",sans-serif;;
  color: white; 
  padding: 5px;
}
.testimonial{
  font-family: "Mulish",sans-serif;
  color:rgba(0, 0, 0, 0.349);
  font-size: 2rem;
  margin-left: 0px;
  font-weight: 500;
}
.section-4{
  margin-top: 100px;
  background-color: rgba(198, 198, 198, 0.285);
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  padding:10px;
}
.left-side{
  color:black;
  font-family: "Mulish",sans-serif;
  margin-left: 40px;
  border-right: 3px solid rgba(255, 140, 140, 0.612);
  width: 500px;
  padding-right: 100px;
}
.left-side h3{
  color: #f05537;
  font-size: 2rem;
}
.left-side h1{
  font-size: 2rem;
  font-weight: 700;
}
.right-side{
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: white;
  border-top: 3px solid  rgba(255, 140, 140, 0.612);
}
.right-side img{
  height: 300px;
  width: 300px;
  margin-top: 10px;
  margin-left: 10px;
}
.right-side div{
  width: 330px;
  padding-top: 50px;
  margin-left: 10px;
}
.right-side div .asterik{
  font-size: 6rem;
  font-weight: 900;
  font-family: "Mulish",sans-serif;
  margin-top: 0px;
  text-align: center;
  color: rgba(94, 94, 94, 0.685);
  margin-bottom:-60px;
}
.right-side div .head{
  text-align: center;
  font-family: "Mulish",sans-serif;
  font-weight: 800;
  font-size: 2rem;
  width:300px;
}
.right-side div .neck{
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.right-side div .chest{
   text-align: center;
  font-family: "Mulish",sans-serif;
  font-weight: 700;
  font-size: 1rem;

}
.section-5{
  padding:10px;
  display:flex;
  flex-direction:row;
}
.section-5 img{
  width:400px;
  padding:10px;
  height: 600px;
  margin-top: 100px;
}
.section-5 div{
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  margin-left: 50px;
  width: 500px;
}
.section-5 div h2{
  width: 300px;
  }

}
@media (min-width: 768px) and (max-width: 991px){
    
.section-1{
        width: 200vh;
        height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(/src/assets/images/AboutImage.png);
        background-color: rgba(0, 0, 0, 0.651);
        background-blend-mode: darken;
}
.about-us{
  color: rgba(255, 255, 255, 0.263);
  font-family: "Mulish",sans-serif;
  font-weight: 900;
  font-size: 4rem;
  padding-left: 50px;
  padding-top: 200px;
}
.about-us-heading{
  color: white;
  font-family: "Mulish",sans-serif;
  font-weight: 900;
  font-size: 4rem;
  padding-left: 100px;

}
.second-heading{
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  font-weight: 900;
  color: white;
}
.second-heading p{
  font-family:"Mulish",sans-serif;
  font-size: 1.5rem ;
  padding-right: 40px;
 
}
.second-heading .About-Us{
   color: #f05537;
}
.section-2{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
}
.about-campus-connect{
  padding-left: 50px;
  padding-bottom: 50px;
  color: #f05537;
  font-family:"Mulish",sans-serif ;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 280px;
  width:400px;
}
.mini-head{
  font-family: "Mulish",sans-serif;
  padding-left: 50px;
  width: 900px;
  text-align: center;
}
.mini-head-2{
  font-family: "Mulish",sans-serif;
  padding-left: 50px;
   width: 900px;
   padding-top: 30px;
   text-align: center;
}
.icons{
  padding-left: 50px;
  font-family: "Mulish",sans-serif;
  font-size: 1rem;
  padding-bottom: 10px;
  width: 900px;
  text-align: center;
}
.icons img{
  width: 5%;
  padding: 2px;
}
.icons span{
  width: 5%;
  font-weight: bolder;
}
.button{
  background-color: #f05537;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Mulish",sans-serif ;
  font-weight: 800;
  font-size: 15px;
  margin-left: 150px;
  margin-left: 400px;
  width: 150px;
}
.button:hover{
  color: tomato;
  background-color: transparent;
  border: 1.5px solid #f05537;
}
.second{
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 150px;
}
.second div img{
  width: 300px;
  padding: 10px;
  height: 200px;
  border-radius: 20px;
}
.second  img{
  width: 300px;
  padding: 10px;
  height: auto;
   border-radius: 20px;
}
.section-3{
  padding: 5px;
}
.Speaker{
  font-family: "Mulish",sans-serif;
  color:rgba(0, 0, 0, 0.42);
  font-size: 2rem;
  margin-left: 50px;
}
.h6{
  text-align: center;
  color:#f05537;;
  font-family: "Mulish",sans-serif;
  font-size: 1rem;
  width: 900px;
}
.h2{
   text-align: center;
  color:black;
  font-family: "Mulish",sans-serif;
  font-size: 2rem;
  width:900px;
}
.talented-group{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.talented{
 background-color:  #f05537;
 width: 200px;
 margin: 0px 50px;
 border-radius: 10px;
 text-align: center;
 justify-content: center;
 border-radius: 10px;
 box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.432);
}
.talented:hover{
  transform: scale(1.05);
}

.talented img{
  height: 200px;
  width: 200px;;
  border-radius:10px; 
}
.talented h4{
  font-family:  "Mulish",sans-serif;;
  color: white;
  padding: 10px;
}
.talented span{
  font-family:  "Mulish",sans-serif;;
  color: white; 
  padding: 5px;
}
.testimonial{
  font-family: "Mulish",sans-serif;
  color:rgba(0, 0, 0, 0.349);
  font-size: 2rem;
  margin-left: 0px;
  font-weight: 500;
}
.section-4{
  margin-top: 100px;
  background-color: rgba(198, 198, 198, 0.285);
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  padding:10px;
}
.left-side{
  color:black;
  font-family: "Mulish",sans-serif;
  margin-left: 40px;
  border-right: 3px solid rgba(255, 140, 140, 0.612);
  width: 500px;
  padding-right: 100px;
}
.left-side h3{
  color: #f05537;
  font-size: 2rem;
}
.left-side h1{
  font-size: 2rem;
  font-weight: 700;
}
.right-side{
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: white;
  border-top: 3px solid  rgba(255, 140, 140, 0.612);
}
.right-side img{
  height: 300px;
  width: 300px;
  margin-top: 10px;
  margin-left: 10px;
}
.right-side div{
  width: 330px;
  padding-top: 50px;
  margin-left: 10px;
}
.right-side div .asterik{
  font-size: 6rem;
  font-weight: 900;
  font-family: "Mulish",sans-serif;
  margin-top: 0px;
  text-align: center;
  color: rgba(94, 94, 94, 0.685);
  margin-bottom:-60px;
}
.right-side div .head{
  text-align: center;
  font-family: "Mulish",sans-serif;
  font-weight: 800;
  font-size: 2rem;
  width:300px;
}
.right-side div .neck{
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.right-side div .chest{
   text-align: center;
  font-family: "Mulish",sans-serif;
  font-weight: 700;
  font-size: 1rem;

}
.section-5{
  padding:10px;
  display:flex;
  flex-direction:row;
}
.section-5 img{
  width:400px;
  padding:10px;
  height: 600px;
  margin-top: 100px;
}
.section-5 div{
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  margin-left: 50px;
  width: 500px;
}
.section-5 div h2{
  width: 300px;
  }
}