@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hero {
  position: relative;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../assets/images/HEROIMG.svg") center/cover no-repeat;
  /* filter: brightness(50%);    */
  z-index: 0;
  height: 100%;
  min-height: unset;

}

.hero-overlay {
  position: relative;
  z-index: 1; 
}

.hero-overlay h1 {
  font-size: 48px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #fff; 
}

.hero-overlay p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #f5f5f5; 
}
.explore-btn {
  padding: 8px 28px;
  background: rgba(252, 252, 252, 0.1); 
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 400;
  backdrop-filter: blur(4px); 
  transition: all 0.3s ease;
    font-family: "Mulish", sans-serif;
}

.explore-btn:hover {
  color: white;
}
.filter-section {
  text-align: center;
  margin: 30px 0;
}
.filter-section button {
  margin: 5px;
  padding: 8px 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #ddd;
}
.filter-section .active {
  background: #0077cc;
  color: white;
}
.featureSection{
  background-color: #FFDED5;
}
.featureSection button{
  background-color: #F05537;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
}
.featureSection .feature{
  border: 1px solid #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.featureSection .feature:hover{
 background-color: #F05537;
 color: #fff;
}

.featureSection div.feature .icon{
  font-size: 50px;
  color: #F05537;
}
.featureSection .feature:hover .icon {
  color: #fff;

}
.featureSection .feature p{
 
  font-size: 16px !important;
  font-weight: bold !important;
  color: #000000 !important;
}
.featureSection .feature:hover p{
  color: #fff !important;
}
@media (max-width: 768px) {

  .hero-overlay h1{
  font-size: 35px;
}
}
@media (max-width: 992px) {


  
}
